.main-box {
  display: block;
  width: 100vw;
  background-color: #101123;

  .main-content {
    display: flex;
  }

  .left-part {
    flex: 0 0 auto;
  }

  .right-part {
    flex: 1 1 auto;
    padding-right: 20px;
  }
}
